RewriteEngine On
RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L]
<FilesMatch "\.(ttf)$">
    Header set Access-Control-Allow-Origin "http://test.labtesaka.my.id"
</FilesMatch>
